.colecaoDeJogos{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;

}
.header-colecao{
    height: 15%;
    background-color: black;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header-colecao h2{
    margin-top: 100px;
}
.container-cards{
    width: 100%;
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;
    margin-top: 150px;
    gap: 15px;
    /* overflow-y: auto; */
    justify-content: space-around;
    align-items: center;
}

/* .card{
    display: flex ;
    width: 380px;
    height: 500px;
    background-color: cornflowerblue;
} */
.card-content:hover{
    transform: rotateY(180deg);
}
.card-content{
    width: 380px;
    height: 500px;
    transform-style: preserve-3d;
    transition: all 1s ease-in-out;
    cursor: pointer;
}
.frente{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background-color: crimson;
    color: cyan;
}
.frente img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.card-content .titulo{
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    position: absolute;
    top: 0;
    background-color: rgba(84, 84, 242, 0.743);
    background-blend-mode: darken ;
    transition: all 1s ease-in-out;
    opacity: 1;
}
.card-content:hover .titulo{
    opacity: 0;
  
}
.atras{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    background: linear-gradient(blue, black);
    color: white;
    transform: rotateY(180deg);
    box-shadow: 0 0 0 3px gray;
}
.atras h2 {
    text-align: center;
    color: white;
}
.informacoes{
    padding-top: 10px;
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap:40px;
    font-size: 1.5rem;
    padding-left: 20px;
    margin-bottom: 20px;
}

@media (max-width:720px){
    .card-content{
        width: 300px;
        height: 400px;
        transform-style: preserve-3d;
        transition: all 1s ease-in-out;
        cursor: pointer;
    }
    .card-content:hover{
        transform: rotateY(180deg);
    }
    .card-content .titulo{
        font-size: 0.8rem;
    }
    .informacoes{
        padding-top: 10px;
        width: 100%;
        height: 80%;
        display: flex;
        flex-direction: column;
        gap:20px;
        font-size: 1.5rem;
        padding-left: 20px;
        margin-bottom: 20px;
        font-size: 1.1em;
    }
    .header-colecao h2{
        font-size: 1em;
    }
}