.maisVendidos{
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.header-maisVendidos{
    height: 15%;
    background-color: black;
    color: white;
    font-size: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
}
.maisVendidosContainer{
    flex-grow: 1;
    background-color: black;
    display: flex;
 
}
.img-maisVendido{
    width: 25%;
    height: 100%;
    transition: all 0.8s linear;
    opacity: 0.5;
}
.img-maisVendido img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.img-maisVendido:hover{
    width: 30%;
    background-color: #0008;
    background-blend-mode: darken;
    cursor: pointer;
    opacity: 1;
}
#preto{
    filter: grayscale(100%);
}

.header-maisVendidos h2{
    font-size: 1em;
}

@media (max-width:720px){
    .img-maisVendido:hover{
        width: 100%;
        background-color: #0008;
        background-blend-mode: darken;
        cursor: pointer;
        opacity: 1;
    }
}